<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Weclome login email</title>

    {{> styles}}

  </head>
  <body class="">
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader">hi there! {{name}}...</span>
            <table class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
               <td class="wrapper">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                    <td>
                        <h2>Welcome back {{name}}</h2>
                        <p>Hope you are working Grate!</p>
                        <p>Zujo using cutting edge technology to serve you a seamless unforgottable experience!</p>
                        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                        <tbody>
                            <tr>
                            <td align="left">
                                <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                    <td> <a href="http://zujo.io" target="_blank">Open App</a> </td>
                                    </tr>
                                </tbody>
                                </table>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                        <p>Finds some troubles? Don't hesitate to contect us at </p><a>support@Zujo.io</a>
                        <p>Good luck! Hope it works.</p>
                    </td>
                    </tr>
                </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>

            <!-- START FOOTER -->
            {{> footer}}
            <!-- END FOOTER -->

          <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>