<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      p{
        color: #4e92df
      }
      .btn{
          background-color: #4e92df;
          border-radius: 10px;
          color: white;
          padding: 20px;
          border-radius: 2px;
          box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
          font-family: "Roboto",arial,sans-serif;
          font-weight: 500;
      }
    </style>
</head>
<body>
    <p>
      <strong>{{name}} Hi there,</strong>
    </p>
    <p>
      {{name}} Thank you for signing up. If you have any questions please don't hesitate to contact our support team at
      <a href="mailto:support@zujo.io">support@zujo.io</a>.</p>
    <p>
      <button class="btn" >Lookup your new account</button>
      <strong>{{name}} Best regards,</strong><br>
      zujo

</body>

</html>